.largeBtn {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    font-family: Lucida Sans Unicode;
    padding: 4px 8px;
    background: #7EB87E;
    border: 1px solid #4D814D;
    margin-left: 50%;
    transform: translate(-50%, 0);
}